*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/* ===== HOME ===== */
.cssProjects{
  min-height: 100vh;
  display: flex;
  justify-content: center;
 background: #101a20;
  /* background: linear-gradient(to right, #414345, #232526); */
}
/* ====== firstRow========= */
.firstRow{
    padding-top: 40px;
    padding-bottom: 80px;
}
.firstRow h1{
  color: #dee2e6;
  font-size: 50px;
  text-align: center;
}

.firstRow p{
    /* border: 2px solid black; */
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
  color: #dee2e6;
  text-align: justify;
  text-align-last: center;
  font-size: 18px;
}

/* ===== secondRow ===== */
.fourthRow{
    display: grid;
    max-width: 1080px;
   justify-content: center;
    margin: auto;
    grid-template-columns:25% 25% 25% 25%;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*  */